<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Search Results</title>
</head>
<body>
    <h1>Recruitment task - Jakub Widłak</h1>
    <p>
        Provide GitHub user name
    <form action="/searchresults">
        <input type="text" name="username" />
        <input type="submit" value="Search"/>
    </form>
    </p>
    <div>
        <p th:text="'Username: ' + ${responseObject.username}"/>
    </div>
    <p>
    <div th:if="${responseObject.userEmails != null}">
        <table>
            User emails:
            <th:block th:object="${responseObject}">
            <tr th:each="userEmail: *{userEmails}">
                <td th:text="${userEmail}"></td>
            </tr>
            </th:block>
        </table>
    </div>
    </p>
    <p>
    <div th:if="${responseObject.userRepos != null}">
        <table>
            User repos:
            <th:block th:object="${responseObject}">
            <tr th:each="userRepo: *{userRepos}">
                <td th:text="${userRepo}"></td>
            </tr>
            </th:block>
        </table>
    </div>
    </p>
    <div th:if="${responseObject.languageStatistic != null}">
        <table>
            Language statistics:
            <th:block th:object="${responseObject}">
            <tr th:each="language: *{languageStatistic}">
                <td th:text="${language}"></td>
            </tr>
            </th:block>
        </table>
    </div>

</body>
</html>