<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Search Results</title>
</head>
<body>
    <h1>Recruitment task - Jakub Widłak</h1>
    <p>
        Provide GitHub user name
    <form action="/searchresults">
        <input type="text" name="username" />
        <input type="submit" value="Search"/>
    </form>
    </p>
    <div>
        <p th:text="'Username: ' + ${param.username}"/>
    </div>
    <div>
        <table>
            User emails:
            <tr th:foreach="userEmail: ${searchresult.userEmails}">
                <td th:text="${userEmail}"></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            User Repos:
            <tr th:foreach="userRepo: ${searchresult.userRepos}">
                <td th:text="${userRepo}"></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            Language statistics:
            <tr th:foreach="language: ${searchresult.languageStatistic}">
                <td th:text="${language.key}"></td>
                <td th:text="${language.value}"></td>
            </tr>
        </table>
    </div>

</body>
</html>